body {
    background: linear-gradient(to bottom, #FFB860, #DE6222);
    padding: 1rem;
    min-height: 100vh;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar {
    background-color: #333;
}

.navbar-collapse {
    justify-content: end;
}

.navbar-brand {
    color: white;
}

.nav-link {
    padding-right: 4rem !important;
}

.home-msg {
    padding-top: 35vh;
}


/* input {
    width: 260px !important;
} */

.page_head {
    text-align: center;
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.text-out-box {
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    width: 30%;
}

.remark {
    margin-top: 8px !important;
}