{% extends "header/header.html" %} {% block content %}
<h2 class="page_head">Delete Patient</h2>
<br>
<div class="delete_patient">
    <form action="" method="post">
        <div class="form-group row  justify-content-md-center">
            <label for="input" class="col-sm-2 col-form-label">Patient ID*</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="patient_id" name="patient_id" placeholder="">
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
                $('a#get_val').bind('click', function() {
                    $.getJSON('/background_process', {
                        patient_id: $('input[name="patient_id"]').val(),
                    }, function(data) {
                        $("#address").val(data[0]['address']);
                        $("#patient_age").val(data[0]['age']);
                        $("#patient_name").val(data[0]['patient_name']);
                        $("#bed_type").val(data[0]['type_of_bed']);
                        $("#listBox").val(data[0]['state']);
                        $("#secondlist").val(data[0]['city']);

                        console.log(data);
                    });
                    return false;
                });
            });
        </script>
        <div class="form-group row  justify-content-md-center">
            <label for="error_msg" class="col-sm-2 col-form-label">
                
            </label>
            <div class="col-sm-3">
                <a id="get_val" style="float: right;width:5rem" href="#" name="get_val" class="btn btn-primary">Get</a>
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="input" class="col-sm-2 col-form-label">Patient Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="patient_name" name="patient_name" placeholder="">
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="input" class="col-sm-2 col-form-label">Patient Age</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="patient_age" name="age" placeholder="">
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="input" class="col-sm-2 col-form-label">Date Of Admission</label>
            <div class="col-sm-3">
                <input type="date" class="form-control" id="date_of_admission" name="admission_date" placeholder="">
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="input" class="col-sm-2 col-form-label">Type of bed</label>
            <div class="col-sm-3">
                <select type="text" class="form-control" id="bed_type" name="bed_type" placeholder="">
                    <option value="general-ward">General Ward</option>
                    <option value="semi-sharing">Semi Sharing</option>
                    <option value="single-room">Single Room</option>
                </select>
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="input" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="address" name="address" placeholder="">
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="input" class="col-sm-2 col-form-label">State*</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="listBox" name="state" placeholder="">
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label for="input" class="col-sm-2 col-form-label">City*</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="secondlist" name="city" placeholder="">
            </div>
        </div>
        <br>
        <div class="form-group row justify-content-md-center">
            <div class="col-1">
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}