{% extends "header/header.html" %} {% block content %}
<div>
    <h2 class="page_head">Medicines Issued</h2>
    <br>
    <table class="table table-bordered" style="margin: 0 auto; width: 80%;">
        <thead class="table-danger">
            <tr>
                <th scope="col">Medicine</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}