{% extends "header/header.html" %} {% block content %}
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<h2 class="page_head">View patients</h2>
<div class="form-group row  justify-content-md-center">
<table style="width:100%">
    <thead>
    <tr>
        <th>Patient_ID</th>
        <th>Name</th>
		<th>AGE</th>
		<th>ADDRESS</th>
		<th>DOJ</th>
		<th>TYPE OF ROOM</th>
    </tr>
    </thead>
    <tbody>
        {% for row in value %} 
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
				<td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
				<td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}